html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 960px;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: uppercase;
}


ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

* {
    box-sizing: border-box;
}

.wrapper {
    flex-grow: 1;
}

.messages {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.edit {
    color: #0e90d2;
}

.delete {
    color: #fa0000;
}

.main-header {
    margin-bottom: 5px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: transparent;
}

.main-navigation-wrapper {
    width: 100%;

    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.user-navigation {
    display: flex;
    max-width: 260px;
}

.hello{
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;

    vertical-align: middle;
    color: #ffffff;
}

.site-navigation .log_out {
    pointer-events: none;
    cursor: default;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-mid {
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-footer {
    /*margin-top: -116px;*/
    padding: 10px 0;
    color: #ffffff;
    background-color: #212121;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;

    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background-color: #000000;
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    text-align: center;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
    background-color: black;
    color: #fff;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

